@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    overflow-x: hidden;
}
body{
    font-family: 'roboto';
    font-weight: 500;
    font-style: normal;
}
img{
    object-fit: cover;
    object-position: center;
    background-position: center;
    background-size: cover;
}
.bg-img{
    background: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg");
    width: 100vw;
    height: auto;
}
footer{
    background: url("https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/footer-bg.jpg");
    width: 100vw;
    height: auto;
}